doctype html
html.no-js(lang="en") 
  head
    meta(charset="utf-8")  
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Unggas Jaya
    link(rel='stylesheet' href='/resources/admin/plugins/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/resources/admin/plugins/fontawesome-free/css/all.min.css')
    link(rel='stylesheet' href='/resources/admin/plugins/ionicons/dist/css/ionicons.min.css')
    link(rel='stylesheet' href='/resources/admin/plugins/icon-kit/dist/css/iconkit.min.css')
    link(rel='stylesheet' href='/resources/admin/plugins/perfect-scrollbar/css/perfect-scrollbar.css')
    link(rel='stylesheet' href='/resources/admin/dist/css/theme.min.css')
    script(src='/resources/admin/src/js/vendor/modernizr-2.8.3.min.js')
    block xhead

  body
    .auth-wrapper
      .container-fluid.h-100
        .row.flex-row.h-100.bg-white
          .col-xl-8.col-lg-6.col-md-5.p-0.d-md-block.d-lg-block.d-sm-none.d-none
            .lavalite-bg(style='background-image: url(\'/resources/admin/img/auth/login-bg.jpg\')')
              .lavalite-overlay
          .col-xl-4.col-lg-6.col-md-7.my-auto.p-0
            .authentication-form.mx-auto
              .logo-centered
                a(href='/')
                  img(src='/resources/admin/src/img/brand.svg' alt)
              h3 Sign In to ThemeKit
              p Happy to see you again!
              form(method='POST', enctype="multipart/form-data")
                .form-group
                  input.form-control(name='username', type='text' required value='')
                  i.ik.ik-user
                .form-group
                  input.form-control(name='password', type='password' placeholder='Password' required)
                  i.ik.ik-lock
                
                .sign-btn.text-center
                  button(type="submit").btn.btn-theme Sign In
    include /admin/commons/scripts.pug
    block xscripts