.app-sidebar.colored
  .sidebar-header
    a.header-brand(href='index.html')
      .logo-img
        img.header-brand-img(src='/resources/admin/src/img/brand-white.svg' alt='lavalite')
      span.text ThemeKit
    button.nav-toggle(type='button')
      i.ik.ik-toggle-right.toggle-icon(data-toggle='expanded')
    button#sidebarClose.nav-close
      i.ik.ik-x
  .sidebar-content
    .nav-container
      nav#main-menu-navigation.navigation-main
        .nav-lavel Navigation
        .nav-item
          a(href='/admin/data')
            i.ik.ik-bar-chart-2
            span Data
        .nav-item
          a(href='/admin/kriteria')
            i.ik.ik-droplet
            span Kriteria
        .nav-item
          a(href='/admin/rank')
            i.ik.ik-award
            span Rank
        .nav-item
          a(href='/admin/testing')
            i.ik.ik-star-on
            span Testing
        .nav-item
          a(href='/admin/report')
            i.ik.ik-file-text
            span Report
        .nav-item
          a(href='/admin/users')
            i.ik.ik-user
            span Users

        .nav-lavel Support
        .nav-item
          a(href='https://github.com/below-1/')
            i.ik.ik-monitor
            span Github
        .nav-item
          a(href='javascript:void(0)')
            i.ik.ik-help-circle
            span Submit Issue