doctype html
html.no-js(lang="en") 
  head
    meta(charset="utf-8")  
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Unggas Jaya
    include /admin/commons/head.pug
    block xhead

  body
    .wrapper
      include header-top.pug
      .page-wrap
        include /admin/commons/app-sidebar.pug
        .main-content
          .container-fluid
            .page-header
              .row.align-items-end
                .col-lg-8
                  .page-header-title
                    i.ik.ik-credit-card.bg-blue
                    .d-inline
                      h5 #{title}
                      span #{subtitle}
            block content
        include /admin/commons/footer.pug
    include /admin/commons/scripts.pug
    block xscripts