footer.footer
  .w-100.clearfix
    span.text-center.text-sm-left.d-md-inline-block Copyright © 2018 ThemeKit v2.0. All Rights Reserved.
    span.float-none.float-sm-right.mt-1.mt-sm-0.text-center
      | Crafted with 
      i.fa.fa-heart.text-danger
      |  by 
      a.text-dark(href='http://lavalite.org/' target='_blank') Lavalite