meta(name='description' content)
meta(name='keywords' content)
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='icon' href='favicon.ico' type='image/x-icon')
link(href='https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800' rel='stylesheet')
link(rel='stylesheet' href='/resources/admin/plugins/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' href='/resources/admin/plugins/fontawesome-free/css/all.min.css')
link(rel='stylesheet' href='/resources/admin/plugins/icon-kit/dist/css/iconkit.min.css')
link(rel='stylesheet' href='/resources/admin/plugins/ionicons/dist/css/ionicons.min.css')
link(rel='stylesheet' href='/resources/admin/plugins/perfect-scrollbar/css/perfect-scrollbar.css')
link(rel='stylesheet' href='/resources/admin/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css')
link(rel='stylesheet' href='/resources/admin/plugins/jvectormap/jquery-jvectormap.css')
link(rel='stylesheet' href='/resources/admin/plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css')
link(rel='stylesheet' href='/resources/admin/plugins/weather-icons/css/weather-icons.min.css')
link(rel='stylesheet' href='/resources/admin/plugins/c3/c3.min.css')
link(rel='stylesheet' href='/resources/admin/plugins/owl.carousel/dist/assets/owl.carousel.min.css')
link(rel='stylesheet' href='/resources/admin/plugins/owl.carousel/dist/assets/owl.theme.default.min.css')
link(rel='stylesheet' href='/resources/admin/dist/css/theme.min.css')
script(src='/resources/admin/src/js/vendor/modernizr-2.8.3.min.js')