header.header-top(header-theme='light')
  .container-fluid
    .d-flex.justify-content-between
      .top-menu.d-flex.align-items-center
        button.btn-icon.mobile-nav-toggle.d-lg-none(type='button')
          span
      .top-menu.d-flex.align-items-center
        .dropdown
          a.dropdown-toggle#userDropdown(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            img.avatar(src='/resources/admin/img/user.jpg' alt)
          .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
            a.dropdown-item(href='profile.html')
              i.ik.ik-user.dropdown-icon
              |  Profile
            a.dropdown-item(href='/auth/logout')
              i.ik.ik-power.dropdown-icon
              |  Logout