script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script.
  window.jQuery || document.write('<script src="/resources/admin/src/js/vendor/jquery-3.3.1.min.js"><\/script>')
script(src='/resources/admin/plugins/popper.js/dist/umd/popper.min.js')
script(src='/resources/admin/plugins/bootstrap/dist/js/bootstrap.min.js')
script(src='/resources/admin/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js')
script(src='/resources/admin/plugins/screenfull/dist/screenfull.js')
script(src='/resources/admin/dist/js/theme.js')