extends /admin/commons/base.pug
include /admin/commons/mixins.pug

block content
  .row
    .col-md-6
      .card
        .card-body
          form(method='POST', enctype='multipart/form-data')
            each model in form_model
              +app_select(model.name, model.label, priority_options)
            button(type="submit", class="btn btn-primary mr-2") Submit