extends /admin/commons/base.pug

block xhead
  link(rel='stylesheet' href='/resources/admin/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css')

block content
  .row
    .col-md-12
      .card
        .card-body
          table#data_table.table
            thead
              tr
                th.nosort ID
                each model in form_model
                  th= model.label
                th V
                th.nosort
            tbody
              each item in items
                tr
                  td= item._id
                  td= formatted.c1(item.c1)
                  td= formatted.c2(item.c2)
                  td= formatted.c3(item.c3)
                  td= formatted.c4(item.c4)
                  td= formatted.c5(item.c5)
                  td= item.v.toFixed(3)
                  td= item.vFormatted
block xscripts
  script(src='/resources/admin/plugins/datatables.net/js/jquery.dataTables.min.js')
  script(src='/resources/admin/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js')
  script.
    var table = $('#data_table').DataTable({
        responsive: true,
        select: true,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });