doctype html
html(lang="en")
  head
    include /landing/commons/head.pug
  body
    include /landing/commons/nav.pug
    include /landing/commons/header.pug

    include /landing/commons/footer.pug
    include /landing/commons/scripts.pug
