meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
meta(name='description' content)
meta(name='author' content)
title One Page Wonder - Start Bootstrap Template
//  Bootstrap core CSS 
link(href='resources/landing/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
//  Custom fonts for this template 
link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')
//  Custom styles for this template 
link(href='/resources/landing/css/one-page-wonder.min.css' rel='stylesheet')