extends /admin/commons/base.pug
block content
  .row
    .col-md-6
      .card
        .card-body
          form(method='POST', enctype='multipart/form-data')
            .form-group
              label Nama
              input.form-control(name="nama", required, value= item.nama)
            .form-group
              label Username
              input.form-control(name="username", required, value= item.username)
            .form-group
              label Password
              input.form-control(name="password", required, type="password", value= item.password)
            button(type="submit", class="btn btn-primary mr-2") Submit