extends /admin/commons/base.pug

block xhead
  link(rel='stylesheet' href='/resources/admin/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css')

block content
  .row
    .col-md-4
      a.btn.btn-primary.btn-block.mb-2(href="/admin/users/create") Tambah
  .row
    .col-md-12
      .card
        .card-body
          table#data_table.table
            thead
              tr
                th.nosort ID
                th Nama
                th username
                th.nosort
            tbody
              each item in items
                tr
                  td= item._id
                  td= item.nama
                  td= item.username
                  td
                    .table-actions
                      a(href='/admin/users/' + item._id)
                        i.ik.ik-edit-2
                      a(href='/admin/users/delete/' + item._id)
                        i.ik.ik-trash-2
block xscripts
  script(src='/resources/admin/plugins/datatables.net/js/jquery.dataTables.min.js')
  script(src='/resources/admin/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js')
  script.
    var table = $('#data_table').DataTable({
        responsive: true,
        select: true,
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
        }]
    });